@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-base: #101418;
  --text-color-base: #fff;
}

body {
  background-color: var(--background-base);
}

/*global styles for mui-chart-x  */
.MuiChartsAxis-line {
  stroke: var(--text-color-base);
}
& .MuiChartsAxis-label {
  fill: var(--text-color-base);
}
& .MuiChartsAxis-tickLabel {
  fill: var(--text-color-base);
}
& .MuiChartsAxis-tick {
  stroke: var(--text-color-base);
}
